@font-face {
    font-family: pixel;
    src: url(../assets/fonts/Minecraft.ttf);
}

body {
    padding: 0;
    margin: 0;
    font-family: pixel;
    background-color: #483D8B;
}
/* LOGIN */
.container-login {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 44px;
}

.card img {
    width: 30%;
    margin-bottom: -20px;
}

.card {
    background-color: #fff;
    height: 115vh;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 10px 10px rgb(17, 17, 17);
}

.card input {
    padding: 14px;
    width: 65%;
}

.card .btnlogin {
    margin: 7px;
    margin-bottom: 8px;
    padding: 12px;
    width: 90%;
    background-color: black;
    color: #fff;
    border-radius: 5px;
    font-family: pixel;
    border: none;
    cursor: pointer;
}

.card .btncadastrar {
    margin: 7px;
    margin-bottom: 8px;
    padding: 12px;
    width: 100%;
    background-color: black;
    color: #fff;
    border-radius: 5px;
    font-family: pixel;
    border: none;
    cursor: pointer;
}

.card button:hover {
    background-image: url(../assets/imgs/nether-portal.gif);
}

.btnhome {
    padding: 7px;
    width: 90%;
    background-color: black;
    color: #fff;
    border-radius: 5px;
    font-family: pixel;
    border: none;
    cursor: pointer;
}

.card p {
    font-weight: bold;
}

.esenha {
    margin-bottom: 2vh;
    margin-top: 1vh;
    color: black;
    font-size: 0.8em;
}

.container-login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.btn {
    display: flex;
    justify-content: center;
    margin: 15px;
    margin-top: -40px;
    width: 100%;
}

.btnhome {
    margin-bottom: -30px;
}