@font-face {
    font-family: pixel;
    src: url(../assets/fonts/Minecraft.ttf);
}

body {
    padding: 0;
    margin: 0;
    font-family: pixel;
    background-color: #483D8B;
}
/* LOGIN */
.container-login-botoes {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 44px;
}

.card img {
    width: 20%;
    margin-bottom: -5px;
}

.card {
    background-color: #fff;
    height: 90vh;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 10px 10px rgb(17, 17, 17);
}

.card input {
    padding: 14px;
    width: 65%;
}

.card .btnlogin {
    margin: 7px;
    margin-bottom: 8px;
    padding: 12px;
    width: 90%;
    background-color: black;
    color: #fff;
    border-radius: 5px;
    font-family: pixel;
    border: none;
    cursor: pointer;
    transition: 0.2s;
}

.card .btncadastrar {
    margin: 7px;
    margin-bottom: 8px;
    padding: 12px;
    width: 110%;
    background-color: black;
    color: #fff;
    border-radius: 5px;
    font-family: pixel;
    border: none;
    cursor: pointer;
    transition: 0.2s;
}

.card button:hover {
    background-color: blueviolet;
    box-shadow: 5px 5px black
}

.btnhome {
    padding: 7px;
    width: 90%;
    background-color: black;
    color: #fff;
    border-radius: 5px;
    font-family: pixel;
    border: none;
    cursor: pointer;
    transition: 0.2s;
}

.card p {
    font-weight: bold;
}

.esenha {
    margin-bottom: 2vh;
    margin-top: 1vh;
    color: black;
    font-size: 0.8em;
}

.container-login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 28px;
}

.btn {
    display: flex;
    justify-content: center;
    margin: 15px;
    margin-top: -50px;
    width: 80%;
}

.btnhome {
    margin-bottom: -30px;
}

/* CARREGANDO */
.loading-div {
    display: none;
    justify-content: center;
    width: 40%;
    margin: 0;
}

/* MENSAGEM ERRO  */
.card_erro{
    font-size: 0.7em;
    color: red;
}

.invalid-pass-email{
    font-size: 0.7em;
    margin-bottom: -20px;
    color: red;
}